@using AnagramGenerator.Contracts;
@model  WebApp.Models.HistoryViewModel
@{
    ViewData["Title"] = "History";
}

<h3>Your search history: </h3>
<ul class="list-group">

    @if (Model.HistoryLogs != null)
    {
        @foreach (UserSearchLogModel historyLog in Model.HistoryLogs)
        {
            var parameters = new Dictionary<string, string> { { "word", historyLog.WordSearched } };
            <li class="list-group-item">
                <p>User's IP: <b>@historyLog.UserIP</b></p>
                <p>Search date: <b>@historyLog.SearchDate</b></p>
                <p>
                    Word searched:
                    <b><a asp-controller="home" asp-all-route-data="parameters" target="_blank">@historyLog.WordSearched</a></b>
                </p>
                <p>
                    Anagrams found: @foreach (string anagram in historyLog.Anagrams)
                    {
                        parameters = new Dictionary<string, string> { { "word", anagram } };
                        <b><a asp-controller="home" asp-all-route-data="parameters" target="_blank">@anagram</a></b>
                    }
                </p>
            </li>
        }
    } else
    {
        <div class="alert alert-warning" role="alert">
            <b>Your history is empty</b>
        </div>
    }

</ul>
