@model  WebApp.Models.AnagramsModel;

@{
    ViewData["Title"] = "Anagram generator";
}

    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <br />
        <div>
            <form method="get">
                <div class="form-group">
                    <label for="word">Enter word:</label>
                    <input type="text" name="word" placeholder="word" class="form-control" />
                </div>
                <div>
                    <button type="submit" class="btn btn-primary">Get Anagrams</button>
                </div>
            </form>
        </div>

        @{ if (Model.Anagrams != null)
            {
                @if (Model.Anagrams.Count < 1)
                {
                    <h3>No anagrams for <b>@Model.Word</b> found :(</h3>
                }
                else
                {
                    <h3>Anagrams for <b>@Model.Word</b></h3>
                    <ul class="list-group">

                        @foreach (var word in Model.Anagrams)
                        {
                            <li class="list-group-item">@word</li>
                        }

                    </ul>
                }
            }
        }
    </div>
