@model WebApp.Models.DictionaryModel

@{
    ViewData["Title"] = "Dictionary";
}


<h2>Dictionary</h2>
<div>
    <a href="/dictionary?page=@(Model.page-1)" class="btn btn-primary">Previuos page</a>
    <a href="/dictionary?page=@(Model.page+1)" class="btn btn-primary">Next page</a>
</div>
<br />
<ul class="list-group">
    @foreach (string word in Model.wordsDictionary)
    {
        <li class="list-group-item">@word</li>
    }
</ul>

