@model WebApp.Models.DictionaryViewModel

@{
    ViewData["Title"] = "Search";
}

<br/>
<div>
    <form method="POST" class="form-inline">
        <div class="form-group">
            <input type="text" name="search" placeholder="word" class="form-control" />
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
</div>
<h2>Search results for <b>@Model.SearchString</b></h2>
<ul class="list-group">
    @if (Model.wordsDictionary != null)
    {
        @foreach (string word in Model.wordsDictionary)
        {
            var parameters = new Dictionary<string, string> { { "word", word } };
            <li class="list-group-item">
                <a clas="visible-md-inline" asp-controller="home" asp-all-route-data="parameters" target="_blank">@word</a>
                    <form asp-action="delete" method="post" class="form-inline">
                        <input type="hidden" name="word" value=@word />
                        <input type="submit" class="btn btn-danger" value="Delete" />
                    </form>
            </li>
            
        }
    }

</ul>

